@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Oswald:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-efficiency {
  width: 100%;
  background: #FAFAFA;
}
  
.container {
  max-width: 1125px;
  margin: 0 auto;
  padding: 16px 24px;
}

.section-efficiency .about {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #8870E9;
}
  
.section-efficiency .subtitle-block {
  display: flex;
  flex-flow: row nowrap;
}
  
.section-efficiency .section-subtitle {
  margin-bottom: 70px;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 62px;
  color: #2A2241;
}
  
.section-efficiency .subtitle-ico {
  margin-left: auto; 
}

.section-efficiency .blocks_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.section-efficiency .card-big {
  flex: 0 0 362px;
}

.section-efficiency .card-big-title {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2A2241;
}

.section-efficiency .card-big-description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #797979;
}

.section-efficiency .cards_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex: 0 0 552px;

}

.section-efficiency .card {
  flex: 0 0 267px;
  margin-bottom: 42px;
}

.section-efficiency .card-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #2A2241;
}

.section-efficiency .card-ico {
  margin-bottom: 20px;
}

.section-efficiency .card-title {
  margin-bottom: 20px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #2A2241;
}
.section-efficiency .card-description {
  font-family: 'Montserrat',sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #797979;
}

.section-efficiency .section-picture {
  height: 322px;
  background: url(./images/efficiency_bg.jpg) center no-repeat;
  background-size: cover;
}

.section-picture .container {
  position: relative;
}

.section-efficiency .section-picture img {
  position: absolute;
  left: 0;
  top: -219px;
}


@media all and (max-width: 1000px) {

}