/*Подключение шрифтов*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Oswald:wght@400;500&display=swap');

/*Начало верстки header*/
body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
}

.header {
    background: url(images/header-background.jpg) no-repeat center;
}

.header .header-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    padding: 24px 50px;
}

.header .header-menu .menu-logo .logo-link {
    height: 30px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-decoration: none;
}

.header .header-menu .menu-logo .logo-link .logo-text {
    margin-left: 7px;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}

.header .header-menu .menu-hamburger {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.header .header-menu .menu-hamburger .lines-wrap {
    width: 100%;
    height: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.header .header-menu .menu-hamburger .lines-wrap .menu-btn-line {
    transition: 0.2s;
    width: 100%;
    height: 3px;
    background: #FFFFFF;
    border-radius: 1px;
}

.header .header-menu .menu-list .menu-items {
    display: flex;
    flex-flow: row nowrap;
}

.header .header-menu .menu-list .menu-items .menu-link {
    margin-right: 67px;
}

.header .header-menu .menu-list .menu-items .menu-link:last-child {
    margin-right: 0;
}

.header .header-menu .menu-items .menu-link .link-item  {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.container {
    max-width: 1125px;
    margin: 0 auto;
}

.header-main {
    width: 560px;
}

.header-main .content-title {
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    line-height: 90%;
    color: #FFFFFF;
}

.header-main .content-subtitle {
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 100%;
    color: #FFA800;
}

.header-main .content-description {
    margin-bottom: 80px;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}

.header-main .content-button {
    display: inline-block;
    margin-bottom: 109px;
    padding: 20px 0;
    width: 362px;
    height: 64px;
    background: #6646E9;
    border-radius: 2px;
    text-align: center;
}

.header-main .content-button .button-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-main .content-button:hover {
    background: #8870E9;
}

.header-main .content-button:active {
    background: #503D9D;
}

@media all and (max-width: 1000px) {
    .header .header-menu {
        padding: 12px 16px;
    }
    .header .container .header-main {
        width: 328px;
        padding: 0 16px;
    }

    .header .header-menu .menu-hamburger {
        display: flex;
    }

    .header .header-menu .menu-items .menu-link {
        display: none;
    }
    
    .header-main .content-title {
        margin-bottom: 10px;        
        font-size: 56px;
        line-height: 90%;
    }
    
    .header-main .content-subtitle {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 36px;
    }
    
    .header-main .content-description {
        margin-bottom: 64px ;
        font-size: 14px;
        line-height: 130%;
    }
    
    .header-main .content-button {
        margin-bottom: 142px;
        width: 328px;
        height: 64px;
    }
}